<html lang="en">
  <body>
    <h1>Poll # {{.PollID}}</h1>
    <form action="/create" method="POST">
      <input type="hidden" id="page" name="page" value="create-poll" />
      <input type="hidden" id="email" name="email" value="{{.Email}}" />
      <input type="hidden" id="token" name="token" value="{{.Token}}" />
      <input
        type="hidden"
        id="expiration"
        name="expiration"
        value="{{.TokenExpiration}}"
      />
      <input type="hidden" id="poll-id" name="poll-id" value="{{.PollID}}" />
      <h2>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{.Title}}" />
      </h2>
      <h3>Questions:</h3>
      <ol>
        {{range .Questions}}
        <li>
          <input
            type="text"
            id="{{.QID}}"
            name="{{.QID}}"
            value="{{.QuestionText}}"
          />
        </li>
        {{end}}
      </ol>
      <label for="new-question">New Question (leave blank if done):</label>
      <input type="text" id="new-question" name="new-question" value="" />
      <div>
        <input type="submit" id="finished" name="finished" value="Submit" />
      </div>
    </form>
    <h2>Results</h2>
    <hr />
    {{.Responses}} Response(s):
    <table>
      {{range .Questions}}
      <tr>
        <th>{{.QuestionText}}</th>
        {{range .Answers}}
        <td>{{if .AnswerInt}}yes{{else}}no{{end}}</td>
        {{end}}
      </tr>
      {{end}}
    </table>
    <hr />
    <b>Note:</b> answers may be uncorrelated.
  </body>
</html>
